@import url("./cores.css");

section.main{
    height: 800px;
    width: 100%;
    background-image: url(../assets/m-amg-cla-coupe-homePrincipal.jpg);
    background-size: cover;
    background-position: center;
}    

.text-chamada{
    color: var(--branco);
    position: absolute;
    bottom: 50%;
    left: 5%;

}

.text-chamada h2{
    font-size: 3em;
    
}


.text-chamada h3{
    font-size: 2em;
        
}

.text-chamada img{
    width: 335px;
    height: 50px;
}

.itens{
    width: 100%;
    height: 1000px;
}


.itens h3{
    font-size: 1.5em;
    margin: 0px;
}

.box{
    text-align: left;
    width: 100%;
    margin: 0 20px;
}

.center-produto-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;

}

.box img{
    width: 80%;
    height: 35%;
    display: inline-block;/*modificado de block para inlne-block*/
    margin-bottom: 50px;
}

#box-motor{
    width: 70%;
    height: 950px;
}

.box h3{
    width: 80%;
    text-align: center;
    background-color: var(--fundoSectionMain);
    border: 1px solid var(--branco);
    padding: 8px;
    color: var(--branco);
    margin-bottom: 50px;
}

.box p{
    width: 80%;
    padding: 8px;
    color: var(--branco);
    text-align: justify;
}

